{
  "ecmaFeatures": {
    "experimentalObjectRestSpread": true,
    "modules": true,
    "jsx": true
  },
  "env": {
    "browser": true,
    "es6": true,
    "meteor": true,
    "mongo": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "globals": {
    "Astro": false,
    "BlazeToReact": false,
    "ReactMeteorData": false
  },
  "rules": {
    "indent": 0,
    "linebreak-style": 0,
    "semi": [ 2, "always" ],
    "no-undef": 0,
    "no-console": 0,
    "no-unused-vars": 0
  }
}
